@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --orange: #ffa500;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline:none;
    border: none;
    transition: all .2s linear;
}

*::selection{
    background: var(--orange);
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x:hidden;
    scroll-padding-top: 6rem;
    scroll-behavior:smooth;
}

header a{
    text-decoration: none;
}

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    padding: 0 0 2.5rem 0;
    margin-top: 82px;
}

.heading span{
    font-size: 3.5rem;
    background: rgba(255,165,0,0.2);
    color: var(--orange);
    border-radius: 0.5rem;
    padding: 0.2rem 1rem;
    display: inline-block;
}

.heading span.space{
    background: none;
}

header{
    position: fixed;
    top: 0; 
    left: 0;
    right:0;
    background: #333;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    height: 6rem;
}

header .logo{
    font-size:2.5rem;
    font-weight: bolder;
    color: #fff;
    text-transform: uppercase;
}

header .logo span
{
    color:var(--orange);
}

#nav i{
    padding-left: 1rem;
}

#nav, .subnav{
    list-style-type: none;
}

#nav > li{
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav > li > a{
    color: #fff;
}

#nav li a{
    font-size: 2rem;
    line-height: 6rem;
    padding: 0 5rem;
    display:block;
}

#nav li:hover .subnav{
    display:block;
}

#nav > li:hover > a,
#nav .subnav li:hover{
    color: #000;
    background-color: #ccc;
}

#nav .subnav{
    display: none;
    position:absolute;
    background-color: #fff;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    min-width: 30rem;
}

#nav .subnav a{
    font-size: 1.5rem;
    color:#000;
    line-height: 5rem;
    padding: 0 2rem;
}


.bright-section{
    min-height: 100vh;
    display: flex;
    justify-content:center;
    flex-flow: column;
    position:relative;
}

.bright-section h3,
.dark-section h3{
    font-size: 2.5rem;
    padding-top: 2rem;
    color: var(--orange);
    margin-left: 2rem;
}

.bright-section p{
    font-size:2rem;
    color:#333;
    text-transform:none;
    padding: 2rem;
    text-align: justify;
    font-weight: normal;
}

.bright-section li{
    font-size:2rem;
    color:#333;
    text-transform: none;
    font-weight: normal;
    margin-left: 10rem;
}

.bright-section li a{
    text-transform: none;
}

.dark-section{
    min-height: 100vh;
    display: flex;
    justify-content:center;
    flex-flow: column;
    position:relative;
    background: #333;
}

.dark-section p{
    font-size:2rem;
    color:#fff;
    text-transform:none;
    padding: 2rem;
    text-align: justify;
    font-weight: normal;
}

.dark-section li{
    font-size:2rem;
    color:#fff;
    text-transform:none;
    font-weight: normal;
    margin-left: 10rem;
}

#project-outcome h3{
    font-size: 2rem;
}

#project-outcome p{
    font-size: 2rem;
}

.space-break{
    width: 3rem;
}

#gallery{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}

#gallery img{
    width:70rem;
    margin-top: 1rem;
    vertical-align: middle;
    padding: 1rem 2rem;
}


.footer{
    background-color: #333;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
}

.footer .box-container .box{
    padding: 1rem 0;
    flex: 1 1 25rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    padding: 0.7rem 0;
    color: var(--orange);
}

.footer .box-container .box p{
    font-size: 1.5rem;
    padding: 0.7rem 0;
    color: #eee;
    text-transform: none;
}

.footer .box-container .box a{
    font-size: 1.5rem;
    padding: 0.7rem 0;
    color: #eee;
    display: block;
    text-decoration: none;
}

.footer .box-container .box a:hover{
    color:var(--orange);
    text-decoration: underline;
}

.footer img{
    max-width:290px;
    padding: 1rem;
    margin-top: 2rem;
    background-color: #fff;
}

.footer .logo-container{
    padding: 1rem 0;
    flex: 1 1 25rem;
}

.footer .logo-container a{
    font-size: 5rem;
    color:#fff;
    text-transform: uppercase;
    text-decoration: none;
}

.footer .logo-container span{
    color: var(--orange);
}


