@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --orange: #ffa500;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline:none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

*::selection{
    background: var(--orange);
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x:hidden;
    scroll-padding-top: 6rem;
    scroll-behavior:smooth;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    background: var(--orange);
    color:#fff;
    padding: .8rem 3rem;
    border: .2rem solid var(--orange);
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: rgba(255,165,0,0.2);
    color:var(--orange);
}

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    padding: 2.5rem 0;
}

.heading span{
    font-size: 3.5rem;
    background: rgba(255,165,0,0.2);
    color: var(--orange);
    border-radius: 0.5rem;
    padding: 0.2rem 1rem;
    display: inline-block;
}

.heading span.space{
    background: none;
}

header{
    position: fixed;
    top: 0; 
    left: 0;
    right:0;
    background: #333;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

header .logo{
    font-size:2.5rem;
    font-weight: bolder;
    color: #fff;
    text-transform: uppercase;
}

header .logo span
{
    color:var(--orange);
}

header .navbar a{
    color:#fff;
    font-size: 2rem;
    margin: 0 2rem;
}

header .navbar a:hover{
    color: var(--orange);
}

header .icons i{
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
}

header .icons i:hover{
    color: var(--orange)
}

header .search-bar-container{
    position: absolute;
    top:100%;
    left: 0;
    right: 0;
    padding: 1.5rem 2rem;
    background: #333;
    border-top: .1rem solid rgba(255,255,255,.2);
    display: flex;
    align-items: center;
    z-index:1001;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar{
    width:100%;
    padding: 1rem;
    text-transform: none;
    color: #333;
    font-size: 1.7rem;
    border-radius: .5rem;
}

header.search-bar-container label{
    color:#fff;
    cursor: pointer;
    font-size: 3rem; 
    margin-left: 1.5rem;
}

header.search-bar-container label:hover{
    color:var(--orange);
}

#menu-bar{
    color: #fff;
    border: .1rem solid #fff;
    border-radius: .5rem;
    font-size: 3rem;
    padding: .5rem 1.2rem;
    cursor:pointer;
    display:none;
}

.profile,
.reflection,
.skills-and-jobs{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-flow: column;
    position:relative;
    background-color: #fff;
}

.description,
.product{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-flow: column;
    position:relative;
    background-color: #333;
}

.home{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-flow: column;
    position:relative;
    /* z-index: 0; */
}

.home .content{
    text-align: center;
}

.home .content h3{
    font-size: 6rem;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,1);
}

.home .content p{
    font-size: 4rem;
    color:#fff;
    padding: 0.5rem 0;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,1);
} 

.home .background-container img{
    position:absolute;
    top: 0;
    left: 0;
    z-index:-1;
    height:100%;
    width:100%;
    object-fit: cover;
}

.card-wrapper{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.card{
    width:32rem;
    background-color: #ebeef8;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    box-shadow: 0.5rem 0.5rem 3rem rgba(0,0,0,0.2);
}

.card .card-img{
    width: 100%;
    height:26rem;
    object-fit: cover;
    --webkit-clip-path: polygon(0,0, 100% 0, 100% 78%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
}

.profile-img{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -10rem;
    z-index: 999;
    border: 1rem solid #ebeef8;
}

.card h1{
    font-size: 2.5rem;
    color: #333;
    margin: 1.5rem 0;
}

.job-title{
    color: #777;
    font-size: 2rem;
    font-weight: 300;
}

.about{
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-style: italic;
    text-align: center;
    color: #333;
}

.read-more-btn{
    display:inline-block;
    padding: 1rem 2.5rem;
    background: var(--orange);
    border: .2rem solid var(--orange);
    border-radius: 2rem;
    margin: 1rem 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.5s;
}

.read-more-btn:hover{
    transform: translateY(-2px);
    box-shadow: 0.5rem 0.5rem 2rem rgba(0,0,0,0.2);
    background: rgba(255,165,0,0.2);
    color:var(--orange);
}

.read-more-btn:active{
    transform: translateY(0);
    box-shadow: none;
}

.social-media{
    width:100%;
    list-style: none;
    display: flex;
    justify-content:  space-evenly;
    padding: 2rem 0;
    margin-top: 1.5rem;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.social-media i{
    font-size: 3rem;
}

.fa-facebook-square{
    color: #3b5999;
}

.fa-google{
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.description .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.description .box-container .box{
    flex: 1 1 30rem;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
}

.description .box p{
    text-align: justify;
    text-transform: none;
}

.description .box-container .box i{
    padding: 1rem;
    font-size: 5rem;
    color: var(--orange);
}

.description .box-container .box h3,
.left-text-holder h2{
    font-size: 2.5rem;
    color: var(--orange);
}


.description .box-container .box p{
    font-size: 1.5rem;
    color: #ebeef8;
    padding: 1rem 0;
}

.description .box-container .box:hover{
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.5);
}

.read-more-text{
    color: var(--orange);
    text-transform: none;
    /* text-decoration: underline;
    font-style: italic; */
}

.skill-job .box-container,
.skill-job .box-container-dark{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 3rem 3rem 5rem 3rem;
}

.skill-job .box-container-dark{
    background: #333;
    width: 100%;
}

.skill-job .box-container .box,
.skill-job .box-container-dark .box{
    flex: 1 1 25rem;
    padding-top: 2rem;
}

.skill-job .box .textbox{
    padding: 0 3rem 2rem 3rem;
}

.skill-job .box-container .box .textbox:hover{
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.5);
}

.skill-job .box-container-dark .box .textbox:hover{
    box-shadow: 0 1rem 2rem rgba(0,0,0,1);
}

.skill-job .textbox h3{
    font-size: 2.5rem;
    padding-top: 2rem;
}

.box-container h3,
.box-container-dark h3{
    color: var(--orange);
}

.skill-job .textbox li{
    font-size: 1.5rem;
    padding: 0.7rem 0;
    text-transform: none;
    border-radius: 0.5rem;
    text-align: justify;
    margin-left: 5rem;
}

.box-container p{
    color: #333;
}

.box-container-dark p{
    color: #fff;
}

.box-container .box img,
.box-container-dark .box img{
    width: auto;
    height: 60rem;
    box-shadow: 0.5rem 0.5rem 3rem rgba(0,0,0,0.2);
    margin: auto;
    display:block;
}

.social-media{
    width:100%;
    list-style: none;
    display: flex;
    justify-content:  space-evenly;
    padding: 2rem 0;
    margin-top: 1.5rem;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.reflection .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.reflection .row .image{
    flex: 1 1 40rem;
    max-width: 100%;
}

.reflection .row .left-text-holder{
    flex: 1 1 40rem;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.1);
    border-radius: 0.5rem;
}

.left-text-holder p{
    font-size: 1.5rem;
    color: #222;
    padding: 1rem 0;
    display: block;
}


.footer{
    background-color: #333;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
}

.footer .box-container .box{
    padding: 1rem 0;
    flex: 1 1 25rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    padding: 0.7rem 0;
    color: var(--orange);
}

.footer .box-container .box p{
    font-size: 1.5rem;
    padding: 0.7rem 0;
    color: #eee;
}

.footer .box-container .box a{
    font-size: 1.5rem;
    padding: 0.7rem 0;
    color: #eee;
    display: block;
}

.footer .box-container .box a:hover{
    color:var(--orange);
    text-decoration: underline;
}

.footer img{
    max-width:290px;
    padding: 1rem;
    margin-top: 2rem;
    background-color: #fff;
}

.footer .logo-container{
    padding: 1rem 0;
    flex: 1 1 25rem;
}

.footer .logo-container a{
    font-size: 5rem;
    color:#fff;
    text-transform: uppercase;
}

.footer .logo-container span{
    color: var(--orange);
}






/* media queries */
@media (max-width: 1634px){
    .footer .box-container{
        gap: 3rem;
    }
}

@media (max-width:1265px){
    #menu-bar{
        display: initial;
    }

    header .navbar{
        position: absolute;
        top:100%;
        right:0;
        left:0;
        background: #333;
        border-top: .1rem solid rgba(255,255,255,.2);
        padding: 1rem 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a{
        display: block;
        border-radius: .5rem;
        padding: 1.5rem;
        margin: 1.5rem 0;
        background: #222;
    }
}

@media (max-width:1200px){
    html{
        font-size: 55%;
    }

    .logo-container,
    .reflection .row .image{
        max-width: 80%;
    }


}
    
@media (max-width:991px){
    header{
        padding: 2rem;
    }
}

@media screen and (min-width: 700px){
    .card-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .card{
        margin: 2rem;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }

    .heading span{
        font-size: 2.5rem;
    }
}

